body{
	padding:50px 0px 0px 0px;
	z-index:0;
	background: #f4f4f4;
}
.navbar-dark{
	background-color: #4ABDAC;
}
.btn{
	padding: 10px 50px;
	border-radius: 50px;
	border:3px solid white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	background-color: #4ABDAC;
	color: white;
}
.form-control{
	border-radius: 50px;
}